<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <ul>
        <li><a href="/">Generate</a></li>
        <li><a class="active" href="verefications">Check the solde</a></li>
        <li><a href="bitcionInfo">bitcion Info</a></li>
    </ul>
    <div id="text">
    <p>
    <h1><%=title%></h1>
    <h2>Addr: <%=adress%></h2>
    <h3>Private Key:<%=privetkey%></h3>
    </p>
        <form method="post" action="/verefication" >
            <input type="submit" value="check ">
        </form>
    
    </div>
</body>
    